@import "tailwindcss";
@plugin "daisyui" {
  themes: pastel --default;
}

:root {
  font-family: "Inter", sans-serif;

  
  color-scheme: pastel;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
